.liveresults {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	color: white;
	margin-bottom: 2rem;
	font-family: 'Anton', sans-serif;
	font-size: 3rem;
	font-weight: 600;

}

/* .LiveResultsPage::before {
	content: "";
	position: fixed;
	z-index: -1;
	background-color: black;
	background-size: cover;
	background-position: center;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
} */

.heading {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	color: #f34e66;
	font-size: 1.6rem;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	margin-left: 1rem;
	font-family: 'Anton', sans-serif;

}

.badmintondiv {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: auto;
}

.basketballdiv {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: auto;
}

.cricketdiv {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: auto;
}

.footballdiv {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: auto;
}

.tabletennisdiv {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: auto;
}

.vollyballdiv {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: auto;
}

.images {
	display: flex;
	align-items: center;
	width: 30%;
	margin: 1rem;
}

.empty {
	display: none;
}