.ContactCard{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
        column-gap: 3rem;
        row-gap: 3rem;
        width: 100%;
        max-width: 974px;
}

.cardcontainer {
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
    border-radius: 15px;
    border-width: 1rem;
    border-color: white;
    background-color: transparent;
    width: 13rem;
    overflow: hidden;
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
    display: flex;
    border: 2rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2.5rem;
    margin-top: 1.5rem;
    

}

.cardcontainer:hover {
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
    transform: scale(1.05, 1.05);
}

.cardcontainer img {
    object-fit: none;
    width: 13rem;
    height: 13rem;
    background: url("../../assets/loading.gif");
    background-size: 5rem;
    color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 0rem;

}

.div2 {
    margin-bottom: 0.8rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 86%;
    align-self: center;
    margin-left: 1rem;
}
.div1{
    background-color: transparent;
    
}
.cardcontainer>.cardinner{
    border-width: 2rem;
    border-color: aqua;
}
.div3{
    display: flex;
    flex-direction: column;
}
.div4{
    display: flex;
    flex-direction: row;
    align-self: center;

}
.div5 {
    display: flex;
    flex-direction: row;
    align-self: center;

}


.name{
    display: flex;
    align-self: center;
}
.number{
    display: flex;
    align-self: center;
}
.heading{
    font-size: 2vw;
    display: flex;
    align-self: center;
    margin-top: 0.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}