.home {
	background-image: url("../../assets/Group149.png");
	background-repeat: no-repeat;
	background-position-x: center;
	background-size:auto;
	width: 100%;
}

.home > .mainTitle {
	height: 100vh;
	display: flex;
	justify-content: start;
	align-items: center;
}

.home > .mainTitle > p {
	font-family: "Futura BdCn BT", sans-serif;
	font-style: normal;
	color: white;
	font-weight: 800;
	font-size: 5rem;
	text-align: center;
	padding: 5rem;
	padding-left: 15rem;
	padding-top: 15rem;
	margin: 2rem;
}

.home > .socials{
	margin-left: 2rem;
	position: absolute;
	top: 83rem;
}

.home>.socials>div>img{
	margin: 1rem;
	width: 2.5rem;
}

.home > .messages {
	margin-top: 30rem;
}

@media only screen and (max-width: 1000px) {
	.home > .mainTitle {
		justify-content: center;
	}
	.home > .mainTitle > p {
		padding: 0;
		padding-left: 0;
		margin: 0;
		padding-top: 0;
	}
}

@media only screen and (max-width: 475px) {
	.home > .mainTitle > p {
		font-size: 4rem;
	}

	.home > .socials{
		margin-left: 1rem;
	}

	.home > .messages {
		margin-top: 25rem;
	}
}

@media only screen and (max-width: 375px){
	.home > .socials{
		margin-left: 0rem;
	}
}