.messageCard {
    display: flex;
    align-items: center;
    justify-content: start;
    /* padding: 0 5rem; */
    /* margin-bottom: 5rem; */
    margin: 5rem 0 5rem 3rem;
}

.messageCard>.msgImg{
    background-image: url("../../assets/message-frame.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.messageCard>.msgImg>img {
    width: 10rem;
    margin: 7rem;
}

.messageCard>.messageDetail>.message {
    font-size: 1.3rem;
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    margin-top: 2rem;
}

.messageCard>.messageDetail>.identity {
    font-size: 2rem;
    color: white;
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
}

.messageCard>.messageDetail>.designationHeading {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    color: #F34E66;
}

@media only screen and (max-width:850px) {
    .messageCard {
        flex-direction: column;
    }
}