*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: green;
    padding: 0.5rem;
}

.navbar>img{
    align-items: flex-start;
}
.navbar>.logo>img{
    width: 5rem;
    margin-left: 1rem;
}

.navbar>.listNavbar{
    display: flex;
    align-items: center;
}
.navbar>.listNavbarvisible{
    display: none;
    align-items: center;
}

.navbar>.listNavbar>li{
    list-style: none;
    font-size: 1.2rem;
    margin: 2rem;
    align-items: center;
    /* justify-content: space-between; */
}

.navbar>.listNavbarvisible>li{
    list-style: none;
    font-size: 1.2rem;
    margin: 2rem;
    align-items: center;
    /* justify-content: space-between; */
}

.navbar>.listNavbar>li>a:hover{
    color: rgb(12, 54, 12);
}

.navbar>.listNavbarvisible>li>a:hover{
    color: rgb(12, 54, 12);
}

.navbar>.listNavbar>.active>a{
    color: orange;
}

.navbar>.listNavbarvisible>.active>a{
    color: orange;
}

.navbar>.listNavbar>li>a{
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.navbar>.listNavbarvisible>li>a{
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.navbar>.hamburger{
    display: none;
}

.navbar>.closeMenu{
    display: none;
}

.listNavbarvisible{
    display: none;
}

.hamburgervisible{
    display: none;
}

.closeMenuvisible{
    display: none;
}

@media only screen and (max-width: 768px)
{
    .navbar>.listNavbar{
        display: none;
    }

    .navbar>.hamburger{
        display: flex;
        align-items:flex-start;
    }
    .navbar>.hamburger>img{
        width: 5rem;
        margin-top: 0.5rem;
    }

    .navbar>.closeMenu{
        display: none;
    }    

    .navbar>.listNavbarvisible{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .navbar>.hamburgervisible{
        display: none;
    }

    .navbar>.closeMenuvisible{
        display: flex;
        align-items: flex-start;
        margin-top:1rem ;
    }

    .navbar>.closeMenuvisible>img{
        width: 2rem;
    }

    .navbar>.logovisible{
        display: none;
    }
}
