.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 5rem;
	position: sticky;
	top: 0;
	width: 100vw;
	z-index: 100;
	background-color: black;
	padding: 0 4rem;
	font-family: "Montserrat", sans-serif;
}

.navLeft {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 2rem;
}

.navLeft > img {
	width: 3.5rem;
}

.navCenter {
	display: flex;
	align-items: center;
	gap: 3rem;
	/* padding-right: 2rem; */
}

.navCenter > .active {
	border-bottom: 2px solid #f74f63;
	color: #f74f63;
}

.navCenter > a {
	font-style: normal;
	font-weight: 500;
	color: white;
	padding-bottom: 0.3rem;
	font-size: 1.2rem;
	text-decoration: none;
	cursor: pointer;
}

.navCenter > .register {
	display: none;
}

.navRight {
	height: 100%;
	justify-content: center;
	align-items: center;
	/* padding-right: 2rem; */
	display: flex;
}

.navRight > a {
	text-decoration: none;
	color: #f74f63;
	font-weight: 600;
	font-size: 1.1rem;
	cursor: pointer;
}

.navRight > img {
	display: none;
	width: 2.5rem;
}

.navRight>.liveButton{
	color: white;
	background-color: red;
	border-radius: 10px;
	padding: 0.5rem;
	margin-left: 2rem;
	margin-right: 2rem;
	font-weight: 600;
	cursor: pointer;
	animation: zoom-in-zoom-out 1s ease infinite;
}

.navRight>.liveButton:disabled{
	background-color: grey;
	animation: none;
	cursor: not-allowed;
}

@keyframes zoom-in-zoom-out {
	0% {
	  transform: scale(1, 1);
	}
	50% {
	  transform: scale(1.3, 1.3);
	}
	100% {
	  transform: scale(1, 1);
	}
  }

/*  */
.nameMenuOpen {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000000;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.445);
	backdrop-filter: blur(20px);
	transform: translateY(-100vh);
	transition: 0.2s ease-in;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navMenuOpenshow {
	transform: translateY(0);
	border-radius: 0;
}

.navMenuCloseButton {
	position: absolute;
	top: 2rem;
	right: 2rem;
}

.navMenuCloseButton > img {
	width: 2rem;
}

.mobileMenu {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.mobileMenu > .register {
	color: #f74f63;
	font-weight: 800;
}

.mobileMenu > a {
	font-weight: 600;
	font-style: normal;
	font-size: 2rem;
	color: white;
	width: max-content;
	border-bottom: 2px solid transparent;
	text-decoration: none;
	cursor: pointer;
}

.mobileMenu > .active {
	border-bottom: 2px solid #f74f63;
	color: #f74f63;
}

.mobileMenu > a:hover {
	border-bottom: 2px solid #f74f63;
}
/*  */

@media only screen and (max-width: 1150px) {
	.navRight {
		/* display: flex; */
		padding-right: 1rem;
	}

	.navRight > img {
		display: flex;
	}

	.navRight > a {
		display: none;
	}

	.navLeft {
		padding-left: 1rem;
	}
	.navCenter {
		display: none;
	}

	.navbar {
		height: 4rem;
		padding: 0 1rem;
	}
	.navLeft > img {
		width: 3rem;
	}
}
