.EventCard {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	column-gap: 3rem;
	row-gap: 2rem;
	width: 100%;
	max-width: 974px;
	min-height: 100vh;
}

.cardcontainer {
	transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
	border-radius: 12px;
	background: transparent;
	overflow: hidden;
	box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.25rem;
	flex-direction: column;
	padding: 0.75rem;
	border: 2px solid rgba(255, 255, 255, 0.608);
}
.cardcontainer:hover {
	box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
	transform: scale(1.05, 1.05);
}

.cardcontainer img {
	object-fit: none;
	width: 13rem;
	height: 15rem;
	background: url("../../assets/loading.gif");
	background-size: 5rem;
	color: transparent;
	border-radius: 12px;
	background-repeat: no-repeat;
	background-position: center;
}

.cardcontainer > div {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 12px;
	padding: 0.5rem;
	flex-direction: column;
}

.cardcontainer > div > a {
	text-decoration: none;
	color: white;
	font-weight: 500;
}

.cardcontainer > div > p {
	text-decoration: none;
	color: white;
	font-weight: 500;
}

.div4 {
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: center;
	align-items: center;
	column-gap: 3rem;
	row-gap: 2rem;
	width: 100%;
	max-width: 974px;
}

.div5 {
	margin-top: 2rem;
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: center;
	align-items: center;
	column-gap: 3rem;
	row-gap: 2rem;
	width: 100%;
	max-width: 1085px;
}
