.footer {
	width: 100vw;
	display: flex;
	background-color: black;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 1rem;
	padding-bottom: 1.5rem;
	z-index: 2;
	border: 2px solid white;
	border-left: none;
	border-right: none;
	border-bottom: none;
}

.footer > img {
	height: 6.5rem;
}

@media only screen and (max-width: 500px) {
	.footer {
		/* flex-direction: column; */
		padding: 0.5rem;
	}
	.footer > img {
		height: 4rem;
	}
}
