.footer {
	width: 100vw;
	display: flex;
	background-color: #111111;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 1rem;
}

.footer > img {
	height: 6.5rem;
}

@media only screen and (max-width: 500px) {
	.footer {
		/* flex-direction: column; */
		padding: 0.5rem;
	}
	.footer > img {
		height: 4rem;
	}
}
