.EventPage {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 2rem;
	min-height: 100vh;
	width: 100%;
	color: white;
}

.EventPage li {
	font-size: 1.2rem;
}

.EventPage::before {
	content: "";
	position: fixed;
	z-index: -1;
	background: url("../../assets/rectangle26.png");
	background-size: cover;
	background-position: center;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
}

.EventPage h1 {
	border-bottom: 1px solid black;
	margin-bottom: 1rem;
}
.button{
	background-color: rgba(255, 255, 255, 0.608);
	border: none;
	width: 9rem;
	height: 2.5rem;
	border-radius: 12px;

}
