@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap");

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	width: 100vw;
	overflow-x: hidden;
	font-family: "IBM Plex Sans", sans-serif;
}

.App {
	width: 100vw;
	max-width: 100vw;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding-top: 4.75rem;
}

@media only screen and (max-width: 870px) {
	.App {
		padding-top: 3.85rem;
	}
}
